div.card
{
    transition: box-shadow .3s; cursor:pointer;border : 1px solid white ;height:332px;width:180px;margin-left:auto;margin-right:auto;position:relative;
}
.card:hover,.card:focus
{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-shadow: 0 0 10px rgba(0,0,0, .65); border : 1px solid lightgray
}
.card:hover .card-body
{
    display:none
}
.card:hover .size
{
    display:block
}
.example-radio-group {
    display: inline-block;font-size:12px;padding:1px
    
  }
  .example-radio-button {
    margin: 1px;
  }
  
.size
{
    text-align:center;
    background-color:white;padding:2px;height:100%;width:100%;margin-top:1px;
    overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   font-size: 13px;
   font-weight: 200;
   line-height: 14px;
   color: #282c3f;
   text-transform: capitalize;
   display:none;
}
.card-body
{
   text-align:center;
   background-color:white;padding:2px;height:100%;width:100%;margin-top:1px;
   overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 200;
  line-height: 14px;
  color: #282c3f;
  text-transform: capitalize;
}
div.card-title
{
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    color: #282c3f;
    text-transform: capitalize;
  text-align:center;overflow: hidden;
  text-overflow: ellipsis;margin:2px;margin-left:auto;margin-right:auto;
  white-space: nowrap;
}
 div.product-name
{
    color: #3e4152;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  text-align:center;overflow: hidden;
  text-overflow: ellipsis;margin:2px;margin-left:auto;margin-right:auto;
  white-space: nowrap;
}
div.product-price
{
    font-size: 12px;
    font-weight: 500;
    color: #282c3f;
  margin-top:5px;
  text-align:center;overflow: hidden;
  text-overflow: ellipsis;margin:2px;margin-left:auto;margin-right:auto;
  white-space: nowrap
}

.col-md-2
{
    padding-right:0px;margin-bottom:10px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    text-align: center;
   
}
.price
{
    text-decoration: line-through;margin-left:2px;margin-right:2px
}
.discount
{
    color:#ff5722
}
.internal
{
    padding-top:10px;
}
.external
{
    margin-bottom:50px
}

.size-button
{
    text-align:center;font-size:12px;margin:3px;color:gray;background-color:white;border:1px solid lightgray;
}

.size-button:hover
{
   color:purple;border:1px solid purple;
}
a:hover
{
    text-decoration: none;
}